*{
    margin: 0;
    padding: 0;
    border:bor-border;
}
.f7{
    flex: 8;
    margin-left: 116px;
}
.f7 h1{
    width: 4rem;
    text-align: center;
    padding: 5px;
    background: rgba(255, 0, 0, 0.753);
    border-radius: 15px;
}
.f3{
    flex: 2;
}

/* main */
/* 1sec bgimg */
.bgimg{
    background-image: url(business-people-with-laptop-tablet.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.outerinfo{
    position: absolute;
    width: 100%;
    height: 100% !important;
    background:  #0000009c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.otherinfo{
    display: flex;
        width: 100%;
        height: 7vh;
        align-items: center;
        justify-content: center;
        gap: 50px;
}
.s1a{
    text-decoration: none; 
    color: white;
    padding: 10px;
    border: 1px solid red;
    height: 50px;
    width: 30%;
}
.s1a:hover{
    background-color: rgba(0, 0, 0, 0.514);
}
@media (max-width:1000px) {
    .otherinfo{
        flex-direction: column;
        gap: 20px;
    }
    .s1a{
        width: 50%;
    }
}

/* 2sec about us  */
.aboutus{
    width: 100%;
    height: 85vh;
}
.inneraboutus{
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}
.aboutush1{
    font-size: xxx-large;
    color: red;
    font-weight: 700;
}
.aboutinfo{
    width: 100%;
    height: 87%;
    display: flex;
}
.myimg{
    height: 100%;
    margin-right: 10px;
    flex: 3.5;
    background-image: url(IMG_20240414_161810~2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.myinfo{
    height: 100%;
    margin-left: 10px;
    flex: 6.5;
    text-align: start;
    padding: 20px;
    line-height: 100px;
}
.s2p1{
    font-size: 1.2rem;
    color: black;
    line-height: 25px;
    margin-bottom: 30px;
}
.s2span{
    color: #00000091;
}
.s2a{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 35px;
    font-size: 1.2rem;
    border-radius: 10px;
}
.s2a:hover{
    background-color: rgba(34, 32, 32, 0.589);
    border: 1px solid rgba(179, 194, 45, 0.829);
}
@media (max-width:1000px) {
    .aboutinfo{
        flex-direction: column;
        gap: 20px;
    }
    .myimg{
        width: 50%;
        height: 100%;
        padding: 150px;
        margin: 0;
        transform: translate(30px, 10px);
    }
    .inneraboutus{
        height: 100%;
    }
}

/* 3sec Education */
.sec3{
    width: 100%;
    height: 160vh;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    margin-top: 50px;
    text-align: center;
}
.edu1{
    width: 70%;
    height: 30vh;
    color: white;
    background: white;
    margin: 20px 0px;
    border-radius: 20px;
}
.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inneredu{
    height: 100%;
    padding: 25px;
    text-align: start;
}
.s3p{
    color: red; 
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.s3p1{
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 10px;
}
@media (max-width:1000px) {
    .sec3{
        transform: translate(10px, 385px);
    }
    .edu1{
        width: 100%;
    }
    .inneredu{
        padding: 15px;
        margin: 0;
        line-height: 30px;
    }
}

/* 4sec skill */
.sec4{
    text-align: center;
    margin: 50px 0px;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.left{
    flex: 5;
    margin-right: 10px;
}
.right{
    flex: 5;
    margin-left: 10px;
}
.innerskill{
    margin-bottom: 25px;
}
.skillp{
    margin: 5;
    text-align: start;
    font-size: large;
    font-weight: 700;
}
@media (max-width:1000px) {
    .sec4{
        transform: translate(10px, 370px);
    }
    .skill{
        flex-direction: column;
    }
    .left{
        width: 100%;
        margin: 0;
    }
    .right{
        width: 100%;
        margin: 0;
    }
}

/* 5sec project */
.sec5{
    text-align: center;
    color: black;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.leftpro{
    flex: 5;
    margin-left: 10px;
}
.rightpro{
    flex: 5;
    margin-right: 10px;
}
.pro{
    width: 100%;
    height: 40vh;
    color: white; 
    background-image: url(abstract-blur-coffee-shop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pro1{
    width: 100%;
    height: 40vh;
    color: white; 
    background-image: url(bearded-hipster-amateur-photographer-with-tattoos-arms-dressed-fleece-shirt-holds-compact-dslr-camera-grey-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.protext{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.247);
}
.proh{
    font-size: 2.4rem;
    font-weight: 800;
}
.proh1{
    font-size: 1.40rem;
}
.proa{
    margin-top: 20px;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.082);
    color: white;
    border:2px solid white;
    text-decoration: none;
}

@media (max-width:1000px) {
    .sec5{
        transform: translate(10px, 370px);
    }
    .rightpro{
        margin: 0;
        margin-bottom: 10px;
    }
    .leftpro{
        margin: 0;
        margin-top: 10px;
    }
}    

/* 6sec contact */
.sec6{
    text-align: center;
    margin-top: 50px;
    background-color: #00000093;
    padding: 30px 0px;
    color: white;
}
.form{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerform{
    width: 100%;
}
label{
    text-align: start;
    width: 50%;
    font-size: large;
    font-weight: 700;
}
input{
    width: 50%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}
button{
    color: white;
    background-color: rgba(255, 0, 0, 0.301);
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 8px;
}
@media (max-width:1000px) {
    .sec6{
        transform: translate(10px, 370px);
    }
    label{
        width: 100%;
    }
    input{
        width: 100%;
    }
}

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: large;
    font-weight: 600;
}
@media (max-width:1000px) {
    footer{
        transform: translate(10px, 370px);
        text-align: center;
    }
}