*{
    margin: 0;
    padding: 0;
    border:bor-border;
}
/* header */
header{
    width: 100%;
    height: 100vh;
}
/* NAV */
.nav{
  background-color:rgba(33, 37, 41, 0.603) !important;
  height: 60px;
}
.na{
    color: white;
}
.f7{
    flex: 8;
    padding-left: 37px;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: red;
    font-weight: 600;
}
.f3{
    flex: 2;

}
.bgim{
    background-image: url(carousel-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100% !important;
    height: 100vh !important;
    z-index: 1;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    flex-wrap: wrap;
    text-align: center;
    width: 100% !important;
}
.bgbtn{
    color: wheat;
    text-decoration: none;
    background-color:rgb(33 37 41 / 52%) !important;
    border: 1px solid white;
    padding: 15px 25px;
    margin: 0;
}
.bgtext{
    line-height: 4vh;
    width: 100% !important;
}
.bgp{
    color: red;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
.bgh1{
    font-size:6rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: white;
    font-family: serif, sans-serif, Arial, Helvetica, sans-serif;
}
.navh{
    font-size: 2.5rem;
    margin: 0;
    color: white;
}
@media (max-width:920px ){
    header{
        height: 43vh;
    }
    .bgim{
        height: 43vh !important;
    }
    .bgp{
        font-size: 1rem;
    }
    .bgh1{
        font-size: 2rem;
    }
    .f7{
        font-size: 1rem;
    }
    .navh{
        font-size: 1rem;
    }
    .nanbtn{
        font-size: 1rem;
    }
}

/* main */
/* sec1 */
.s1{
    color: #000;
    flex: 5;
    height: 100% !important;
}
.sec1{
    display: flex;
    width: 100%;
    height: 50vh !important;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 50px;
    z-index: 10;
}
.inners1{
    padding: 30px;
    width: 100% !important;
    height: 100% !important;
    text-align: end;
    line-height: 4vh;
    color: white;
}
.inners2{
    padding: 30px;
    width: 100% !important;
    height: 100% !important;
    text-align: start;
    line-height: 4vh;
    color: white;
}
.s1h{
    font-size: 4rem; margin: 0; font-weight: bold;
}
@media (max-width:920px ){
    .sec1{
        flex-direction: column;
        height: 100vh !important;
        bottom: 0;
        margin: 50px 0px;
    }
    .s1{
        width: 100% !important;
        height: 50vh !important;
    }
    .s1h{
        font-size: 1.5rem;
    }
}
/* se2 */
.rights2{
    background-image: url(about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    flex: 5;
    height: 100% !important;
}
.lefts2{
    flex: 5;
}
.innerlefts2{
    color: #000;
    width: 100% !important;
    height: 100% !important;
    padding: 25px;
    line-height: 2rem;
}
.sec2{
    width: 100%;
    height: 85vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.ils2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 35px;
}
.atchivments2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 30px;
}
.inneratchivments2{
    line-height: 2rem;
}
.s2lp{
    margin-bottom: 20px;
}
.s2li{
    font-size: 5rem;
    color: red;
    padding-bottom: 40px;
}
.s2lh{
    font-size: 1rem;
}
.s2lp2{
    font-size: 1rem;
}
.s2a{
    padding: 15px 25px;
    border: 1px solid red;
    color: red;
    text-decoration: none;
}
.s2a:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
}
@media (max-width:920px ){
    .sec2{
        flex-direction: column;
        height: 100vh !important;
        bottom: 0;
        margin: 50px 0px;
    }
    .ils2{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .s2lp{
        margin-bottom: 10px;
    }
    .s2li{
        font-size: 3rem;
        color: red;
        padding-bottom: 20px;
    }
    .s2lh{
        font-size: 1rem;
    }.s2lp2{
        font-size: 0.9rem;
    }
    .innerlefts2{
        padding: 0px 10px;
    }
    .atchivments2{
        margin-bottom: 5px;
    }
    .rights2{
        width: 100% !important;
    }
    .lefts2{
        margin-top: 20px;
    }
    
}
/* 3sec */
.sec3{
    display: flex;
    width: 100% !important;
    height: 45vh !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.childs3{
    flex:3.33;
    height: 100% !important;
    text-align: center;
}
.s3c1{
    background-color: #000;
    color: white;
}
.s3c2{
    background-color: red;
    color: white;
}
.s3cc{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.s3i{
    font-size: 4rem;
    color: red;
}
.s3ci{
    font-size: 4rem;
    color: black;
}
@media (max-width:920px ){
    .childs3{
        height: 40% !important;
    }
    .sec3{
        height: 50vh !important;
        margin-bottom: 100px;
    }
    .s3cc{
        padding: 0px 15px;
    }
}
/* 4sec */
.sec4{
    margin-bottom: 50px;
    text-align: center;
}
.s4p{
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    margin: 0;
    padding: 0;
}
.s4h{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: serif, sans-serif, Arial, Helvetica, sans-serif;
}
.sec4info{
    display: flex;
    width: 100% !important;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.s4{
    height: 40vh !important;
    width: 50% !important;
    line-height: 2rem;
    text-align: center;
}
.inners4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}
.s4img{
    width: 69%;
    height: 35vh;
    flex: 5;
}
.s4text{
    flex: 5;
    text-align: start;
    padding-left: 15px;
}
@media (max-width:920px ){
    .sec4info{
        flex-direction: column;
    }
    .inners4{
        flex-direction: column;
    }
    .s4{
        width: 100% !important;
        margin-bottom: 30px;
    }
    .s4h{
        font-size: 2rem
    }
    .s4text{
        text-align: center;
        padding: 0;
    }
    .s4img{
        width: 85%;
    }
}
/* 5sec */
.sec5{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100% !important;
    height: 55% !important;
    margin-bottom: 50px;
    color: white;
}
.s5color{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
}
.s5{
    text-align: center;
    position: relative;
    top: 100;
}
.email{
    padding: 10px 50px;
    margin: 0;
    border: none;
    border-radius: 8px;
}
.s5h{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    font-family: serif,sans-serif,Arial, Helvetica, sans-serif;
}
.emailbt{
    padding: 10px 25px;
    margin: 0;
    transform: translate(10px 8px);
    border: none;
    border-radius: 8px;
    background-color: red;
    color: white;
}
.emailbt:hover{
    background-color: rgba(255, 0, 0, 0.486);
    color: black;
}
@media (max-width:920px ){
    .sec5{
        background-position: center;
    }
    .emailbt{
        margin-top: 10px;
    }
    .s5h{
        font-size: 2rem;
    }
}
/* 6sec */
.sec6{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.s6ul{
    display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
}
.s6li{
    padding: 10px 20px;
    color: red;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 8px;
}
.s6li:hover{
    color: white;
    background-color: red;
}
.table-container {
    width: 100%;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    border: 1px solid #ddd;
}

.s6table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px; 
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    white-space: nowrap; 
}

thead {
    background-color: black;
    color: white;
}

tbody th {
    background-color: black;
    color: white;
}
@media (max-width:920px ){
    .s6ul{
        flex-direction: column;
    }
}
/* 7sec */
.sec7{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.s7img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: auto !important;
}
.inners7{
    width: 30%;
    height: 65vh !important;
    line-height: 1rem;
    background-color: #000;
}
.s7inner1{
    width: 100%;
    height: 70% !important;
    background-image: url(team-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.s7inner2{
    width: 100%;
    height: 70% !important;
    background-image: url(team-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.s7inner3{
    width: 100%;
    height: 70% !important;
    background-image: url(team-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.s7inner4{
    width: 100%;
    height: 70% !important;
    background-image: url(team-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.s7text{
    width: 100%;
    height: 30% !important;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s7h{
    color: red;
    font-weight: 500;
}
@media (max-width:920px ){
    .s7img{
        flex-direction: column;
    }
    .inners7{
        width: 100%;
        height: 70vh !important;
    }
    
}
/* 8sec */
.sec8{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.s8{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto !important;
}
.s8right{
    width: 50%;
    height: 100vh !important;
    line-height: 1rem;
}
.s8img1{
    width: 100%;
    height: 60% !important;
    background-image: url(blog-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.s8img2{
    width: 100%;
    height: 60% !important;
    background-image: url(blog-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.s8left{
    width: 50%;
    height: 100vh !important;
    line-height: 1rem;
}
.inners8text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 15px;
}
.surcule{
    width: 20%;
    height: 15vh;
    text-align: center;
    background: red;
    border-radius: 50%;
}
.s8h{
    font-size: 1.8rem;
}
.innersurcule{
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 0.5rem;
    height: 100%;
    flex-direction: column;
}
.s8div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: medium;
    color: #00000099;
}
.s8p{
    text-align: start;
    padding-bottom: 11px;
    font-size: large;
    line-height: 1.3rem;
    color: #00000085;
}
@media (max-width:920px ){
    .s8{
        flex-direction: column;
    }
    .s8right{
        width: 100%;
        height: 80vh !important;
    }
    .s8left{
        width: 100%;
        height: 80vh !important;
    }
    .s8img1{
        height: 45% !important;
    }
    .s8img2{
        height: 45% !important;
    }
    .inners8text{
        padding-bottom: 10px;
    }
    .s8h{
        font-size: 1.2rem;
    }
}
/* sec9 */
.sec9{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.s9{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.s9icon{
    width: 30% !important;
    text-align: center;
    line-height: 2rem;
}
.s9i{
    color: red;
    font-size: 2rem;
}
.s9h{
    font-size: 2rem;
    font-weight: bold;
}
.s9p{
    font-size: 1.3rem;
    color: #000000ad;
}
.contact{
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 34px;
}
.map{
    height: 100%;
    flex: 5;
}
.sms{
    height: 100%;
    flex: 5;
}
.form{
    padding: 10px;
    text-align: start;
}
.s9input{
    width: 100% !important;
    height: 2.5rem;
    padding-left: 15px;
    color: #000000a9;
    margin-bottom: 10px;
}
.textarea{
    width: 100% !important;
    height: 9rem;
    padding-left: 15px;
    margin-bottom: 15px;
    color: #000000a9;
    padding-top: 10px;
}
.s9btn{
    padding: 10px 50px;
    border: 1px solid red;
    background-color: white;
    color: red;
    text-decoration: none;
}
.s9btn:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
}
@media (max-width:920px ){
    .s9{
        flex-direction: column;
    }
    .s9icon{
        width: 100% !important;
    }
    .contact{
        flex-direction: column;
        height: 100vh;
    }
    .map{
        width: 100% !important;
    }
}


/* footer */
footer{
    width: 100%;
    height: 70vh !important;
    background-color:rgb(33 37 41 / 52%) !important;
    z-index: 100;
}
.fbgimg{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100% !important;
    height: 100% !important;
}
.ftext{
    align-items: center;
    width: 100%;
    height: 80% !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1.5px solid white;
}
.footer{
    width: 100%;
    height:20% !important;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.fh{
    margin: 0;
    color: red;
    font-weight: 500;
}
.fp{
    margin: 0;
    padding: 0;
    line-height: 2rem;
    color: white;
}
.fa{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    line-height: 2rem;
}
.fp:hover{
    text-decoration: underline;
}
.fa:hover{
    text-decoration: underline;
}
@media (max-width:920px ){
    .ftext{
        justify-content: center;
        border: none;
        padding-top: 20px;
    }
    .footer{
        display: none;
    }
    .fbgimg{
        background-position: center;
    }
    .fd2{
        padding-right: 10px;
    }
    .fd3{
        padding-left: 10px;
    }
}